<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>批量生成二维码</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/element-plus@2.7.0/dist/index.full.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus@2.7.0/dist/index.css">
    <style>.qr-item{margin:20px;display:inline-block;text-align:center;}</style>
</head>
<body>
<div id="app">
    <el-button type="primary" @click="generate">生成一个新二维码</el-button>
    <el-button @click="generate10">生成10个</el-button>
    <el-button type="success" @click="downloadAll">下载全部二维码ZIP</el-button>
    <hr>
    <div v-for="item in list" class="qr-item">
        <div><strong>{{item.id}}</strong></div>
        <img :src="item.qr_png" width="200">
        <div>{{item.url}}</div>
    </div>
</div>

<script>
const { createApp, ref } = Vue
createApp({
    setup() {
        const list = ref([])
        const generate = async () => {
            const res = await fetch('/api/new')
            const data = await res.json()
            list.value.unshift(data)
        }
        const generate10 = async () => {
            for(let i=0; i<10; i++) await generate()
        }
        const downloadAll = () => location.href = '/download_all'
        return { list, generate, generate10, downloadAll }
    }
}).use(ElementPlus).mount('#app')
</script>
</body>
</html>